@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body{
    background: #E5E5E5;
    box-sizing: border-box;  
    margin:0;
    font-family: 'Roboto';
    font-weight: 100;
}
header{
    width: auto;
    background-color: #222222;
    height:100px;
    margin:0;
    position: relative;
    top:0px;
    align-items: center;
}
.inicio{
    /* border: 1px solid blue; */
    /* display: flex; */
}

.title{
    display: flex;
    height: 100px;
    width: 300px;
    align-items: center;
    margin-left:50px;
    float: left;
}
.title>*{
    margin-right: 10px;
    background-color: #222222;
}
.title h1:nth-child(2){
    color:green;
}
.title h1:nth-child(3){
    color:white;
}
.title h1:nth-child(4){
    color:red;
}
nav{
    display: flex;
    width: 500px;
    height: 100px;
    /* border: green 1px solid; */
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    align-items: center;
    color: white;
}
nav h2:nth-child(1):hover, nav h2:nth-child(2):hover{
    color:red;
}
nav h2:nth-child(3):hover{
    color:gray;
}
nav h2:nth-child(4):hover{
    color:green;
}
